<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      Convert
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <section>
    <a></a>
    <br>
    <a></a>
  </section>
  <section>
    <ion-button expand="block" size="large">This section is in development</ion-button>
  </section>
  <hr>
  <section class="full-width">
    <ion-button expand="block" size="large" color="secondary">Please check for app update soon</ion-button>
  </section>

</ion-content>